<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>小明</string>
		<key>dec</key>
		<string>干啥呢？</string>
		<key>loc</key>
		<string>南京</string>
	</dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<string>痞子</string>
		<key>dec</key>
		<string>好好学习，天天向上！</string>
		<key>loc</key>
		<string>南京</string>
	</dict>
	<key>3</key>
	<dict>
		<key>name</key>
		<string>疯子</string>
		<key>dec</key>
		<string>倚楼听风雨，淡看江湖路。</string>
		<key>loc</key>
		<string>南京</string>
	</dict>
	<key>4</key>
	<dict>
		<key>name</key>
		<string>梦醒</string>
		<key>dec</key>
		<string>书到用时方恨少</string>
		<key>loc</key>
		<string>南京</string>
	</dict>
	<key>5</key>
	<dict>
		<key>name</key>
		<string>落落</string>
		<key>dec</key>
		<string>生日快乐！</string>
		<key>loc</key>
		<string>南京</string>
	</dict>
	<key>6</key>
	<dict>
		<key>name</key>
		<string>丫丫</string>
		<key>dec</key>
		<string>做个踏实的科研女</string>
		<key>loc</key>
		<string>南京</string>
	</dict>
	<key>7</key>
	<dict>
		<key>name</key>
		<string>乐天平</string>
		<key>dec</key>
		<string>在火车上</string>
		<key>loc</key>
		<string>南京</string>
	</dict>
	<key>8</key>
	<dict>
		<key>name</key>
		<string>北暮</string>
		<key>dec</key>
		<string>好久不见！</string>
		<key>loc</key>
		<string>南京</string>
	</dict>
	<key>9</key>
	<dict>
		<key>name</key>
		<string>苹果</string>
		<key>dec</key>
		<string>喜欢苹果，更喜欢青苹果！</string>
		<key>loc</key>
		<string>南京</string>
	</dict>
	<key>10</key>
	<dict>
		<key>name</key>
		<string>木头</string>
		<key>dec</key>
		<string>清心薄欲 静躁作学</string>
		<key>loc</key>
		<string>南京</string>
	</dict>
</dict>
</plist>
